@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
a {
    text-decoration: none;
    color: black;
}
body {
    display: flex;
    background: #1b1b2f;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 20px;
    height: 100vh;
    background: #162447;
    border-right: solid 1px rgba(000,000,000, 0.9);
    text-align: center;
    position: fixed;
    
}
h1 {
    font-family: 'Anton', sans-serif;
    margin-top: 50px;
}


.graficos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.graficos li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #e43f5a;
    margin: 5px 5px;
    border-radius: 2px;
    box-shadow: 10px 5px 5px rgba(000,000,000, 0.5);
}

li:hover {
    background-color: #e73146;
    transition: 1ms;
    transform: scale(1.01);
}


.card-graficos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25vw;
    align-items: center;
    justify-content: center;
    
}

.card-graficos figure {
    display: flex;
    background: #162447;
    min-width: 500px;
    min-height: 40vh;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(000,000,000, 0.5);
    -webkit-box-shadow:10px 5px 5px rgba(000,000,000, 0.5);
    -moz-box-shadow: 10px 5px 5px rgba(000,000,000, 0.5);
    margin: 15px;
}

.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

p img {
        width:15px;
        margin-right:5px;
        width: 30px;
        height: 30px;
}

box {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    align-content: space-around;
  }
  .box div {
    margin: 11px;
  } 

  .modal {
      display: flex;
      flex-direction: column;
      margin-left: 42vw;
      width: 500px;
      height: 500px;
      margin-top: 50px;
      background: #1f4068;
      border: 1px solid rgba(000,000,000, 0.5);
      border-radius: 8px;
      box-shadow: 10px 5px 10px rgba(000,000,000, 0.5);
      transition: 300ms;
  }

  .modal img {
      margin-top: 20px;
      height: 300px;
  }

  .title p {
      margin-top: 10px;
      text-align: center;
  }

  .modal:hover {
      transform: scale(1.1);
  }

  .title {
       text-align: center;
  }
 


